// Variables
$primary-color: #00297e;
$secondary-color: #2189d1;
$tertiary-color: #519fd533;
$box-shadow: 0px 3px 6px #00000029;

// Global
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
input,
button {
  font-family: "Tahoma", system-ui;
}

h1 {
  font-size: clamp(2.2rem, 5vw, 3.5rem);
  font-weight: 700;
  color: $primary-color;
  margin-block: 2.5rem;
}

.app {
  text-align: center;

  @media (min-width: 480px) {
    padding-inline: 2rem;
  }
  @media (min-width: 768px) {
    max-width: 1280px;
    margin: 0 auto;
  }
}

// Search
.search {
  &__form {
    display: flex;
    align-items: center;
    max-width: 620px;
    margin: 0 auto;
  }

  &__input {
    flex: 1;
    padding: 10px;
    border: 1px solid $secondary-color;
    border-radius: 5px 0 0 5px;
    box-shadow: $box-shadow;
    outline: none;

    @media (min-width: 480px) {
      border-radius: 5px;
    }
  }

  &__button {
    padding: 8px 25px;
    font-size: 1rem;
    border: 1px solid $primary-color;
    background-color: $primary-color;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @media (min-width: 480px) {
      border-radius: 5px;
      margin-left: 0.5rem;
    }

    &:hover {
      background-color: $secondary-color;
      box-shadow: $box-shadow;
    }

    &:active {
      background-color: $primary-color;
      box-shadow: none;
    }
  }
}

// Books List
.books-list {
  &__table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  &__header-row,
  &__row {
    border-bottom: 1px solid #ddd;
    transition: all 0.3s ease-in-out;
  }

  &__header-row {
    color: white;
    background-color: $primary-color;

    & th {
      text-align: center;
      font-size: 1.2rem;
    }
  }

  &__row {
    &:hover {
      background-color: $tertiary-color;
    }
  }

  &__header-cell,
  &__cell {
    padding: 8px;
    text-align: left;
    text-wrap: pretty;
  }

  &__highlight {
    font-weight: 700;
    color: red;
  }

  &__no-books {
    margin: 20px 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    color: red;
  }
}

// Spinner
.loader {
  display: block;
  width: 84px;
  height: 88px;
  margin: 50px auto;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;

  &::after,
  &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid $secondary-color;
    animation: rotateSpinner 2s linear infinite;
  }

  &::after {
    inset: 8px;
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: $primary-color;
  }
}

// Dropdown
.dropdown {
  z-index: 1;
  position: relative;
  margin-block: 1.5rem;
  width: 230px;
  margin-left: auto;
  box-shadow: $box-shadow;
  border-radius: 5px;

  &__toggle {
    padding: 10px 20px;
    color: $secondary-color;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid $secondary-color;
    width: 100%;
    white-space: nowrap;
    cursor: pointer;

    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $tertiary-color;
    }
  }

  &__menu {
    position: absolute;
    border-radius: 5px;
    border: 1px solid $secondary-color;
    top: 110%;
    left: 0;
    padding: 0;
    color: $secondary-color;
    text-align: center;
    background-color: #fff;
    list-style: none;
    margin: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: $box-shadow;

    &__item {
      padding: 10px 20px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      position: relative;
      &:hover {
        background-color: $tertiary-color;
      }
    }
  }
  &__option {
    text-transform: capitalize;
  }
}

// Animations

@keyframes rotateSpinner {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
